{% extends 'base.html' %} {% load static %} {% block content %}
<body>
  <div class="logout">
    <a
      style="text-decoration: none; color: black"
      href="{% url 'accounts:basic-logout' %}"
      >( Logout )</a
    >
  </div>
  <div class="home">
    <a
      style="
        position: absolute;
        left: 10px;
        top: 10px;
        text-decoration: none;
        color: black;
      "
      href="{% url 'index' %}"
      >( home )</a
    >
  </div>
  <div class="box add">
    <h1>ToDo App</h1>
    <form action="{% url 'todo:create' %}" method="post">
      {% csrf_token %}
      <div>
        <input
          class="input"
          type="text"
          name="task"
          placeholder="Your Task Here!"
        />
        <input class="sbtn" type="submit" value="Add task" />
      </div>
    </form>
  </div>
  <div class="box items">
    {% for tk in object_list %}
    <div class="item">
      <div class="task">
        {% if tk.status %} Done(
        <p>{{tk.task}}</p>
        ) {% else %}
        <p>{{tk.task}}</p>
        {% endif %}
      </div>
      <div class="btn">
        <a href="{% url 'todo:delete' pk=tk.id %}"
          ><div class="delete {% if tk.status %}con{% endif %}">
            <p>Del</p>
          </div></a
        >
        {% if tk.status == False %}
        <a href="{% url 'todo:update' pk=tk.id %}"
          ><div class="edit">Edit</div></a
        >
        <a href="{% url 'todo:done' pk=tk.id %}"
          ><div class="Done">Done</div></a
        >
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</body>
{% endblock %}
